In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [8]:
books = pd.read_csv('books.csv')
ratings = pd.read_csv('ratings.csv')

In [9]:
n_users = ratings.user_id.unique().shape[0]
n_books = ratings.book_id.unique().shape[0]
print("The database contains ratings from", n_users, "users for", n_books, "books.")

The database contains ratings from 53424 users for 10000 books.

In [10]:
data_matrix = np.zeros((n_users, n_books))
for line in ratings.itertuples():
    data_matrix[line[2]-1, line[1]-1] = line[3]

In [11]:
data_matrix

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [17]:
def cos_similar(u, v):
    return np.dot(u,v)/np.linalg.norm(u)/np.linalg.norm(v)

In [39]:
similar = np.zeros(n_users)
user_row = int(input('enter id'))
for user in range(0, n_users):
    similar[user] = cos_similar(data_matrix[user_row], data_matrix[user])
    #print(similar[user])

print("This user read", np.count_nonzero(data_matrix[user_row]), "books.")
print("There are", np.count_nonzero(similar), "users that are similar to user{}.".format(user_row))
top_similar = np.where(similar > 0.2)[0] # top similar users
print(top_similar)

enter id23
This user read 17 books.
There are 1391 users that are similar to user23.
[   23  1078  2553  3217  3615  3844  7450  8063 12012 13063 16339 16477
 19666 24261 26744 32351 33089 38090]

In [25]:
book = pd.read_csv('books.csv')
rating = pd.read_csv('ratings.csv')

In [45]:
from scipy.sparse import coo_matrix

matrix = coo_matrix((rating['rating'].astype(float),
                     (rating['book_id'], rating['user_id'])))
#print(matrix)

In [46]:
print(matrix)

  (1, 314)	5.0
  (1, 439)	3.0
  (1, 588)	5.0
  (1, 1169)	4.0
  (1, 1185)	4.0
  (1, 2077)	4.0
  (1, 2487)	4.0
  (1, 2900)	5.0
  (1, 3662)	4.0
  (1, 3922)	5.0
  (1, 5379)	5.0
  (1, 5461)	3.0
  (1, 5885)	5.0
  (1, 6630)	5.0
  (1, 7563)	3.0
  (1, 9246)	1.0
  (1, 10140)	4.0
  (1, 10146)	5.0
  (1, 10246)	4.0
  (1, 10335)	4.0
  (1, 10610)	5.0
  (1, 10944)	5.0
  (1, 11854)	4.0
  (1, 11927)	4.0
  (1, 12471)	5.0
  :	:
  (10000, 37777)	5.0
  (10000, 38663)	4.0
  (10000, 39251)	4.0
  (10000, 39997)	4.0
  (10000, 42257)	5.0
  (10000, 42537)	4.0
  (10000, 42810)	3.0
  (10000, 43068)	3.0
  (10000, 43318)	4.0
  (10000, 43319)	5.0
  (10000, 43744)	4.0
  (10000, 44206)	4.0
  (10000, 44655)	3.0
  (10000, 44889)	4.0
  (10000, 46337)	5.0
  (10000, 47069)	4.0
  (10000, 47326)	3.0
  (10000, 47515)	4.0
  (10000, 48201)	5.0
  (10000, 48281)	4.0
  (10000, 48386)	5.0
  (10000, 49007)	4.0
  (10000, 49383)	5.0
  (10000, 50124)	5.0
  (10000, 51328)	1.0

In [40]:
from sklearn.decomposition import TruncatedSVD

svd = TruncatedSVD(n_components=2000, n_iter=10, random_state=23)
sigma = svd.fit_transform(matrix)
print(svd.explained_variance_ratio_)
print(svd.explained_variance_ratio_.sum())
print(sigma.shape)

[0.00774261 0.00342315 0.00406367 ... 0.00012635 0.00012628 0.00012621]
0.5716303993829324
(10001, 2000)

In [47]:
from sklearn.metrics.pairwise import cosine_similarity

# Create similarities for every book
recommend = pd.DataFrame(cosine_similarity(sigma))
recommend.head()

      0         1         2      ...     9998      9999      10000
0  1.000000  0.111782  0.126865  ... -0.004579  0.003784 -0.003919
1  0.111782  1.000000  0.653566  ...  0.000703 -0.000668  0.008048
2  0.126865  0.653566  1.000000  ... -0.001626 -0.004395  0.012878
3  0.101636  0.604738  0.599797  ... -0.001917 -0.002802  0.008698
4  0.118632  0.555059  0.714114  ... -0.000605  0.000760  0.000696

[5 rows x 10001 columns]

In [64]:
user_id = int(input('ENTER USER ID'))
associate_books = recommend.iloc[user_id].sort_values()


books = pd.read_csv('books.csv')

list = []
for idx in associate_books.index[:100]:
    res = books.loc[books['book_id'] == idx]
    if not res.empty:
        print(res[['title', 'authors']])

ENTER USER ID10
4100   -0.014258
8235   -0.013148
5819   -0.012781
8095   -0.012357
6456   -0.012222
          ...
33      0.699482
76      0.703581
13      0.735219
43      0.864901
10      1.000000
Name: 10, Length: 10001, dtype: float64
          title            authors
5237  Glamorama  Bret Easton Ellis
                       title          authors
2984  The View from Saturday  E.L. Konigsburg
                 title                                         authors
6552  The Good Soldier  Ford Madox Ford, Kenneth Womack, William Baker
           title       authors
832  The Chamber  John Grisham
             title           authors
4008  Four Blondes  Candace Bushnell
                                         title                               authors
5826  The First Four Years  (Little House, #9)  Laura Ingalls Wilder, Garth Williams
                    title             authors
244  Bridge to Terabithia  Katherine Paterson